@model gMnt.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
            <div class="line">
                <div class="line-left">@Html.LabelFor(m => m.UserName)</div>
                <div class="line-right">@Html.TextBoxFor(m => m.UserName)</div>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="line">
                <div class="line-left">@Html.LabelFor(m => m.Password)</div>
                <div class="line-right">@Html.PasswordFor(m => m.Password)</div>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="line">
                <div class="line-right">@Html.CheckBoxFor(m => m.RememberMe)</div>
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
          Register if you don't have an account.
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
