@model gMnt.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

    <h2>Sign Up</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
            <div class="line">
                <div class="line-left">@Html.LabelFor(m => m.UserName)</div>
                <div class="line-right">@Html.TextBoxFor(m => m.UserName)</div>
            </div>
            <div class="line">
                <div class="line-left">@Html.LabelFor(m => m.Password)</div>
                <div class="line-right">@Html.PasswordFor(m => m.Password)</div>
            </div>
            <div class="line">
                <div class="line-left">@Html.LabelFor(m => m.ConfirmPassword)</div>
                <div class="line-right">@Html.PasswordFor(m => m.ConfirmPassword)</div>
            </div>
@*            <div class="line">
                <div class="line-left">@Html.LabelFor(m => m.Email)</div>
                <div class="line-right">@Html.TextBoxFor(m => m.Email)</div>
            </div>
            <div class="line">
                <div class="line-left">@Html.LabelFor(m => m.RestaurantId)</div>
                <div class="line-right">@Html.DropDownListFor(m => m.RestaurantId, (SelectList)ViewBag.RestaurantId, String.Empty)</div>
            </div>*@
        <p class="delete-title">
        <input type="submit" value="Sign Up" /></p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
