@model gLibrary.Models.Restaurant

@{
    ViewBag.Title = "Restaurant - Create";
}

<h2>Create Restaurant</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Restaurant</legend>

@*        <div class="line">
            <div class="line-left">@Html.LabelFor(model => model.Id)</div>
            <div class="line-right">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>*@

        <div class="line">
            <div class="line-left">@Html.LabelFor(model => model.Bilingual.Name)</div>
            <div class="line-right">
                @Html.EditorFor(model => model.Bilingual.Name)
                @Html.ValidationMessageFor(model => model.Bilingual.Name)
            </div>
        </div>
        <div class="line">
            <div class="line-left">@Html.LabelFor(model => model.Bilingual.AlienName)</div>
            <div class="line-right">
                @Html.EditorFor(model => model.Bilingual.AlienName)
                @Html.ValidationMessageFor(model => model.Bilingual.AlienName)
            </div>
        </div>
        <div class="line">
            <div class="line-left">@Html.LabelFor(model => model.Address.FullAddress)</div>
            <div class="line-right">
                @Html.EditorFor(model => model.Address.FullAddress)
            </div>
        </div>
@*        @Html.HiddenFor(model => model.AddressId, new { id = "AddressId" })*@
        @Html.HiddenFor(model => model.Address.StreetNumber, new { id = "StreetNumber" })
        @Html.HiddenFor(model => model.Address.StreetId, new { id = "StreetId" })
        <div class="line">
            <div class="line-left">@Html.LabelFor(model => model.Phone)</div>
            <div class="line-right">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="line">
            <div class="line-left">@Html.LabelFor(model => model.MenuType)</div>
            <div class="line-right">
                @Html.DropDownListFor(model => model.MenuType, (SelectList)ViewBag.MenuTypeId)
                @Html.ValidationMessageFor(model => model.MenuType)
            </div>
        </div>
        <div class="line">
            <div class="line-left">@Html.LabelFor(model => model.Logo)</div>
            <div class="line-right">
                <input type="file" id="file" name="file" />
            </div>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/gMnt/address.js")"></script>
}
