@model gLibrary.Models.Restaurant

@{
    ViewBag.Title = "Restaurant - Details";
}

<h2>    @Html.ActionLink("<- Restaurants", "Index")</h2>

<fieldset>
    <legend>Restaurant</legend>

    <div class="line">
        <!-- <div class="line-left">@Html.LabelFor(model => model.Id)</div> -->
        <div class="line-right">
            @Html.HiddenFor(model => model.Id)
        </div>
    </div>

    <div class="line">
        <div class="line-left">@Html.LabelFor(model => model.Bilingual.Name)</div>
        <div class="line-right">
            @Html.DisplayFor(model => model.Bilingual.Name)
        </div>
    </div>
    <div class="line">
        <div class="line-left">@Html.LabelFor(model => model.Bilingual.AlienName)</div>
        <div class="line-right">
            @Html.DisplayFor(model => model.Bilingual.AlienName)
        </div>
    </div>
    <div class="line">
        <div class="line-left">@Html.LabelFor(model => model.Address.FullAddress)</div>
        <div class="line-right">
            @Html.DisplayFor(model => model.Address.FullAddress)
        </div>
    </div>
    <div class="line">
        <div class="line-left">@Html.LabelFor(model => model.Phone)</div>
        <div class="line-right">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
    <div class="line">
        <div class="line-left">@Html.LabelFor(model => model.Logo)</div>
        <div class="line-right">
            @Html.DisplayFor(model => model.Logo)
        </div>
    </div>

</fieldset>
<ul>
                    <li>@Html.ActionLink("Categories", "Index", "Category", new { rid = Model.Id }, null)</li>
                    <li>@Html.ActionLink("Tables", "Index", "Table", new { rid = Model.Id }, null)</li>
                    <li>@Html.ActionLink("Dishes", "Index", "Dish", new { rid = Model.Id }, null)</li>
</ul>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

