@model gLibrary.Models.Table

@{
    ViewBag.Title = "Table - Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Table</legend>
    
    <div class="display-label">Table #</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TableNumber)
    </div>

    <div class="display-label">Seats</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seats)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("QR Code", "QRCode", new { id=Model.Id, rid=Model.RestaurantId }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { rid = Model.RestaurantId })
</p>
